<section class="bg-dark text-light p-5 text-center text-sm-start" id="hero">
    <div class="container text-center align-items-center mt-5">
        <h2 class="display-5 fw-bold">Biaya Komisi</h2>
        <div class="d-sm-flex align-items-center justify-content-between mt-5">
            <img src="https://stockbit.com/assets/template/table-price-left.svg" alt="01" class="img-fluid">
            <table cellspacing="0" class="text-center">
                <thead>
                    <tr>
                        <td>
                            <p class="fs-4 fw-light">Fee Beli</p>
                        </td>
                        <td>
                            <p class="fs-4 fw-light">Fee Jual</p>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="display-1 fw-bold text-success pr-5">0,10%</td>
                        <td class="display-1 fw-bold text-success pl-5">0,20%</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="max-width: 650px;"><b>Keterangan:</b> Sudah termasuk biaya broker, biaya levy (BEI, KPEI, KSEI) 0,043%, PPN biaya broker 11%, dan PPh final untuk transaksi jual 0,1%.</td>
                    </tr>
                </tbody>
            </table>
            <img src="https://stockbit.com/assets/template/table-price-right.svg" alt="02" class="img-fluid">
        </div>
    </div>
</section>