<section class="bg-dark text-light p-5 text-sm-start" id="hero">
    <div class="container text-center">
        <h1 class="display-5 fw-bold">Professional Tools bahkan untuk Pemula</h1>
        <p class="lead mt-5">Investasi saham bukan hanya untuk kalangan atas. Stockbit dilengkapi dengan data finansial dan fitur kelas professional untuk mendukung investasi semua orang.</p>
        <div class="row mt-5 align-items-center">
            <div class="col-sm-9 col-md-9 col-lg-9">
                <img src="../../../../../assets/images/report.png" alt="report" >
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 text-sm-start">
                <h2 class="fw-bold">Berita & Laporan dari Sumber Terpercaya</h2>
                <p class="lead mt-5">Satu tempat yang praktis untuk baca berita dari berbagai sumber.</p>
            </div>
        </div>
    </div>
</section>