<section class="bg-dark p-5 text-sm-start mt-5" id="hero">
    <div class="container">
        <h1 class="display-5 fw-bold text-center text-light">Articles</h1>
        <div class="row mt-5">
            <div class="col col-sm-12 col-md-4 d-flex">
                <div class="card">
                    <img src="https://statik.tempo.co/data/2022/04/28/id_1106623/1106623_720.jpg" class="card-img-top" alt="Course 1">
                    <div class="card-body">
                        <p class="card-text lead">Tempo.com</p>
                        <h5 class="card-title">IHSG Akhir Pekan Diprediksi Menguat, Berikut Sejumlah Saham yang Layak Dicermati</h5>
                        <p class="card-text">"Harga cenderung menguat meski masih akan bergerak volatil cenderung menguat ke dalam kisaran kecil 7000-7075 hingga 7100," ujar Vice President sekaligus Senior Analis Teknikal Samuel Sekuritas Indonesia, Muhammad Alfatih dalam keterangan tertulis pada Jumat, 18 November 2022. </p>
                        <div class="text-end mt-4">
                            <a href="https://bisnis.tempo.co/read/1658210/ihsg-akhir-pekan-diprediksi-menguat-berikut-sejumlah-saham-yang-layak-dicermati" target="_blank" class="btn btn-primary mt-auto">Baca Lebih Lanjut <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-12 col-md-4 d-flex">
                <div class="card">
                    <img src="https://statik.tempo.co/data/2020/10/08/id_972302/972302_720.jpg" class="card-img-top" alt="Course 1">
                    <div class="card-body">
                        <p class="card-text lead">Tempo.com</p>
                        <h5 class="card-title">Buruh Ancam Mogok Kerja Jika PP 36/2021 Tetap Jadi Landasan Aturan Upah, Pengusaha: Pasrah</h5>
                        <p class="card-text">Ketua Umum Asosiasi Pertekstilan Indonesia (API), Jemmy Kartiwa Sastraatmadja mengaku pasrah menghadapi ancaman mogok kerja dari serikat buruh. Para buruh menyatakan akan mogok kerja bila pemerintah tidak mengubah PP nomor 36 tahun 2021 tentang Pengupahan sebagai acuan dalam menaikan UMP/UMK.</p>
                        <div class="text-end mt-4">
                            <a href="https://bisnis.tempo.co/read/1658052/buruh-ancam-mogok-kerja-jika-pp-362021-tetap-jadi-landasan-aturan-upah-pengusaha-pasrah" target="_blank" class="btn btn-primary mt-auto">Baca Lebih Lanjut <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-12 col-md-4 d-flex">
                <div class="card">
                    <img src="https://statik.tempo.co/data/2021/05/28/id_1024156/1024156_720.jpg" class="card-img-top" alt="Course 1">
                    <div class="card-body">
                        <p class="card-text lead">Tempo.com</p>
                        <h5 class="card-title">Umumkan PHK 1.300 Karyawan, CEO GoTo, CEO dan COO Tokopedia Menangis</h5>
                        <p class="card-text">Karyawan Tokopedia bercerita tentang suasana CEO Briefing, acara pengumuman pemutusan hubungan kerja (PHK) 1.300 karyawan PT GoTo Gojek Tokopedia Tbk. Pertemuan tersebut baru saja digelar tadi pagi secara online bersama seluruh karyawan.</p>
                        <div class="text-end mt-4">
                            <a href="https://bisnis.tempo.co/read/1658322/umumkan-phk-1-300-karyawan-ceo-goto-ceo-dan-coo-tokopedia-menangis" target="_blank" class="btn btn-primary mt-auto">Baca Lebih Lanjut <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center align-items-center mt-5">
            <button class="btn btn-outline-success">Show More</button>
        </div>
    </div>
</section>


