<section class="bg-dark text-light p-5 text-center text-sm-start mt-5" id="hero">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mt-5">
            <div>
                <h1 class="display-5">Investasi Saham Bersama</h1>
                <h1 class="display-2 fw-bold">Komunitas</h1>
                <p class="lead mt-4">
                    News-Asix adalah aplikasi untuk kamu yang ingin berdiskusi, analisa dan investasi saham dalam satu tempat.
                </p>
                <button class="btn btn-success btn-lg mt-5 fs-2 fw-semibold" onclick="alert('Fitur belum tersedia.')">
                    MULAI BERINVESTASI
                </button>
                <div class="d-sm-flex my-5">
                    <a href="#"  onclick="alert('Fitur belum tersedia.')"><img src="https://stockbit.com/assets/template/4b70f6fae447.png" alt="AppStore" class="img-fluid m-2" style="max-width: 200px;"></a>
                    <a href="#"  onclick="alert('Fitur belum tersedia.')"><img src="https://stockbit.com/assets/template/f06b908907d5.png" alt="PlayStore" class="img-fluid m-2" style="max-width: 200px;"></a>
                </div>
                <p class="mt-5" style="font-size: 0.7rem;">
                    PT Stockbit Sekuritas Digital terdaftar dan diawasi oleh:
                </p>
                <div class="d-sm-flex d-flex my-5">
                    <img src="https://stockbit.com/assets/template/ojk.svg" alt="ojk" class="img-fluid">
                    <img src="https://stockbit.com/assets/template/idx.svg" alt="idx" class="img-fluid">
                </div>
            </div>
            <img class="img-fluid" src="https://stockbit.com/assets/template/kartun.svg" alt="kartun" style="opacity: 0.5;">
            <img class="img-fluid" src="../../../../../assets/images/iphone6depan.png" alt="iphone" style="max-width: 25%;">
        </div>
    </div>
</section>