<section class="bg-dark text-light text-center p-5">
    <div class="row align-items-center">
        <div class="col col-sm col-md col-lg">
            <p class="lead fs-6">
                Copyright © 2022 Frontend Bootcamp Enigma - William Hartanto
            </p>
        </div>
        <div class="col col-sm col-md col-lg">
            <img src="https://stockbit.com/assets/template/logo-ojk.svg" alt="ojk" class="img-fluid">
            <p>Izin Perantara Pedagang Efek</p>
        </div>
        <div class="col col-sm col-md col-lg">
            <img src="https://stockbit.com/assets/template/logo-idx.svg" alt="bei" class="img-fluid">
            <p>Anggota Bursa Efek Indonesia</p>
        </div>
        <div class="col col-sm col-md col-lg">
            <img src="https://stockbit.com/assets/template/logo-ksei.svg" alt="ksei" class="img-fluid">
            <p>Terdaftar di Kustodian Sentral Efek Indonesia</p>
        </div>
        <div class="col col-sm col-md col-lg">
            <img src="https://stockbit.com/assets/template/logo-idclear.svg" alt="idclear" class="img-fluid">
            <p>Terdaftar di Kliring Penjaminan Efek Indonesia</p>
        </div>
        <div class="col col-sm col-md col-lg">
            <img src="https://stockbit.com/assets/template/logo-sipf.svg" alt="sipf" class="img-fluid">
            <p>Anggota Dana Perlindungan Modal</p>
        </div>
        <div class="col col-sm col-md col-lg">
            <img src="https://stockbit.com/assets/template/logo-3p.svg" alt="3p ids" class="img-fluid">
            <p>Mendukung Program 3P IDX. Paham Punya Pantau</p>
        </div>
    </div>
</section>