<section class="bg-dark text-light p-5 text-center text-sm-start" id="hero">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mt-5">
            <div>
                <h1 class="display-2 fw-bold">Komunitas</h1>
                <p class="lead mt-4">
                    News-Asix adalah aplikasi untuk kamu yang ingin berdiskusi, analisa dan investasi saham dalam satu tempat.
                </p>
            </div>
            <img class="img-fluid" src="https://stockbit.com/assets/template/x9.svg" alt="kartun" style="opacity: 0.5;">
            <img class="img-fluid" src="../../../../../assets/images/iphone6alert.png" alt="iphone" style="max-width: 25%;">
        </div>
    </div>
</section>