<section class="bg-dark text-light p-5 text-center text-sm-start mt-5" id="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-sm-5 col-md-5 col-lg-5">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="lead fs-6">2000</p>
                        <p class="fw-semibold fs-5">Perubahan Management dan Kepemilikan</p>
                    </li>
                    <li class="list-group-item">
                        <p class="lead fs-6">2007</p>
                        <p class="fw-semibold fs-5">Menggunakan Remote Trading</p>
                    </li>
                    <li class="list-group-item">
                        <p class="lead fs-6">2009</p>
                        <p class="fw-semibold fs-5">Berpartisipasi dalam Transaksi Negosiasi PT Adaro Energy senilai Rp15,73 Triliun</p>
                    </li>
                    <li class="list-group-item">
                        <p class="lead fs-6">2021</p>
                        <p class="fw-semibold fs-5">Terdaftar di KSEI dan IDX sebagai sekuritas yang dapat melakukan pembukaan rekening efek secara digital</p>
                    </li>
                    <li class="list-group-item">
                        <p class="lead fs-6">2021</p>
                        <p class="fw-semibold fs-5">Perubahan Manajemen & Kepemilikian dari PT Mahakarya Artha Sekuritas menjadi PT Stockbit Sekuritas Digital</p>
                    </li>
                </ul>
            </div>
            <div class="col-7 col-sm-7 col-md-7 col-lg-7">
                <h1>Informasi Perusahaan</h1>
                <p>Berdiri sejak tahun 1990 dengan nama PT Mahakarya Artha Sekuritas dan terdaftar di OJK dengan nomor izin KEP-132/PM/1992, PT Mahakarya Artha Sekuritas terus berkomitmen dalam meningkatkan jumlah investor di Indonesia untuk membantu perekonomian nasional. Pada Desember 2021, PT Mahakarya Artha Sekuritas telah resmi diakuisisi dan berganti nama menjadi PT Stockbit Sekuritas Digital.</p>
                <p>Sebagai perusahaan efek yang telah memiliki pengalaman, PT Stockbit Sekuritas Digital berkomitmen untuk terus melakukan inovasi dan memberikan layanan serta pengalaman investasi yang mudah, aman dan terpercaya bagi investor melalui teknologi kelas dunia untuk dapat memfasilitasi masyarakat dalam berinvestasi secara mudah di pasar modal Indonesia melalui layanan perdagangan saham online yang modern. Melalui aplikasi investasi sosial Stockbit investor dapat berdiskusi sekaligus melakukan transaksi saham secara daring. Pembukaan akun rekening sekuritas juga dapat dilakukan melalui aplikasi Stockbit yang dapat diunduh melalui Playstore dan Appstore.</p>
            </div>
        </div>
    </div>
</section>