<section class="bg-dark text-light p-5 text-sm-start" id="hero">
    <div class="container">
        <h1 class="display-5 fw-bold text-center">Contact Us</h1>
        <div class="row mt-5 align-items-center justify-content-center">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=stockbit&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">embed google maps website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                <div class="mt-5">
                    <h2 class="fws-semibold">PT Stockbit Sekuritas Digital</h2>
                    <p class="lead">Menara Standard Chartered Lt. 33 Jl. Prof. Dr. Satrio No. 164, Kelurahan Karet Semanggi, Kecamatan Setiabudi Jakarta Selatan, 12930</p>
                </div>
                <div class="mt-5">
                    <h2 class="fws-semibold">Kontak Utama</h2>
                    <p class="lead">Untuk segala pertanyaan dan masalah, kamu dapat mengunjungi pusat bantuan kami. Jika kamu membutuhkan bantuan lebih jauh, kamu dapat mengirimkan email ke <b>support@stockbit.com</b>.</p>
                </div>
                <div class="mt-5">
                    <h2 class="fws-semibold">Telepon</h2>
                    <p class="lead">Menara Standard Chartered Lt. 33 Jl. Prof. Dr. Satrio No. 164, Kelurahan Karet Semanggi, Kecamatan Setiabudi Jakarta Selatan, 12930</p>
                </div>
            </div>
        </div>
    </div>
</section>


