<section class="bg-light text-dark text-center p-5 text-sm-start" id="hero">
    <div class="container text-center">
        <p class="fw-bold text-muted">INVEST DI SAHAM TERNAMA. MILIKI BISNISNYA.</p>
        <div class="row m-5 align-items-center">
            <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
                <img src="https://stockbit.com/assets/template/logos-1.svg" alt="1" class="img-fluid" style="max-width: 40%;">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
                <img src="https://stockbit.com/assets/template/logos-2.svg" alt="2" class="img-fluid" style="max-width: 40%;">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
                <img src="https://stockbit.com/assets/template/logos-3.svg" alt="3" class="img-fluid" style="max-width: 40%;">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
                <img src="https://stockbit.com/assets/template/logos-4.svg" alt="4" class="img-fluid" style="max-width: 40%;">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
                <img src="https://stockbit.com/assets/template/logos-5.svg" alt="5" class="img-fluid" style="max-width: 40%;">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
                <img src="https://stockbit.com/assets/template/logos-6.svg" alt="6" class="img-fluid" style="max-width: 40%;">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
                <img src="https://stockbit.com/assets/template/logos-7.svg" alt="7" class="img-fluid" style="max-width: 40%;">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
                <img src="https://stockbit.com/assets/template/logos-8.svg" alt="8" class="img-fluid" style="max-width: 40%;">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
                <img src="https://stockbit.com/assets/template/logos-9.svg" alt="9" class="img-fluid" style="max-width: 40%;">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
                <img src="https://stockbit.com/assets/template/logos-10.svg" alt="10" class="img-fluid" style="max-width: 40%;">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
                <img src="https://stockbit.com/assets/template/logos-11.svg" alt="11" class="img-fluid" style="max-width: 40%;">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
                <img src="https://stockbit.com/assets/template/logos-12.svg" alt="12" class="img-fluid" style="max-width: 40%;">
            </div>
        </div>
    </div>
</section>