<section class="bg-dark text-light p-5 text-sm-start" id="hero">
    <div class="container text-center">
        <h1 class="display-5 fw-bold">Belajar Dulu dengan Virtual Trading</h1>
        <p class="lead mt-5">Kamu dapat berlatih dan menguji strategi investasi Anda tanpa resiko dengan uang virtual senilai 100 juta.</p>
        <img src="../../../../../assets/images/iphone6begin.png" alt="begin" class="img-fluid mt-5" style="max-width: 30%;">
        <p class="lead mt-5">Daftar sekarang dan bergabunglah dengan puluhan ribu investor lainnya.</p>
        <button class="btn btn-success btn-lg mt-5 fs-5 fw-semibold">
            MULAI BERINVESTASI
        </button>
        <p class="lead mt-5">Dengan mengklik tombol di atas, Anda berarti telah menyetujui <span class="text-success">Kebijakan Privasi & Persyaratan Layanan Stockbit.</span></p>
    </div>
</section>