<section class="bg-secondary text-light p-5 text-sm-start">
    <div class="container">
        <div class="row mt-5 align-items-center">
            <div class="col col-sm col-md col-lg">
                <img src="../../../../assets/images/logo-long.png" alt="" class="img-fluid">
            </div>
            <div class="col col-sm col-md col-lg">
                <a routerLink="/about-us"><p class="lead fs-6">About us</p></a>
                <a ><p class="lead fs-6" onclick="alert('Fitur belum tersedia.')">Contact</p></a>
                <a ><p class="lead fs-6" onclick="alert('Fitur belum tersedia.')">Help</p></a>
                <a ><p class="lead fs-6" onclick="alert('Fitur belum tersedia.')">Karir</p></a>
            </div>
            <div class="col col-sm col-md col-lg">
                <a ><p class="lead fs-6" onclick="alert('Fitur belum tersedia.')">House rules</p></a>
                <a ><p class="lead fs-6" onclick="alert('Fitur belum tersedia.')">Terms</p></a>
                <a ><p class="lead fs-6" onclick="alert('Fitur belum tersedia.')">Privacy</p></a>
                <a ><p class="lead fs-6" onclick="alert('Fitur belum tersedia.')">Tata Kelola</p></a>
            </div>
            <div class="col col-sm col-md col-lg">
                <h3>
                    <i class="bi bi-facebook" onclick="alert('Fitur belum tersedia.')"></i>&nbsp;
                    <i class="bi bi-twitter" onclick="alert('Fitur belum tersedia.')"></i>&nbsp;
                    <i class="bi bi-instagram" onclick="alert('Fitur belum tersedia.')"></i>
                </h3>
            </div>
            <div class="col col-sm col-md col-lg">
                <a onclick="alert('Fitur belum tersedia.')"><img src="https://stockbit.com/assets/template/4b70f6fae447.png" alt="AppStore" class="img-fluid m-2" style="max-width: 200px;"></a>
                <a onclick="alert('Fitur belum tersedia.')"><img src="https://stockbit.com/assets/template/f06b908907d5.png" alt="PlayStore" class="img-fluid m-2" style="max-width: 200px;"></a>
            </div>
        </div>
    </div>
</section>