<section class="bg-dark text-light p-5 text-sm-start" id="hero">
    <div class="container text-center">
        <div class="row mt-5">
            <div class="col-sm-9 col-md-9 col-lg-9">
                <img src="../../../../../assets/images/report.png" alt="report" >
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 text-sm-start">
                <h2 class="fw-bold">Key Features</h2>
                <div class="mt-5">
                    <p class="fw-bold">PLATFORM CHARTING MODERN</p>
                    <p class="lead">Satu tempat yang praktis untuk baca berita dari berbagai sumber.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img src="https://stockbit.com/assets/template/x5.svg" alt="x1" class="img-fluid">
                <h2 class="fw-semibold">Komunitas Saham Terbesar</h2>
                <p class="lead fs-5 px-3">Lebih dari 100,000 investor telah bergabung. Diskusi dan dapatkan analisa saham terbaik langsung dari investor yang berpengalaman.</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img src="https://stockbit.com/assets/template/x6.svg" alt="x1" class="img-fluid">
                <h2 class="fw-semibold">Aman & Terpercaya</h2>
                <p class="lead fs-5 px-3">Hindari investasi bodong. Semua transaksi saham di Stockbit melewati perusahaan sekuritas yang telah didaftar dan diawasi oleh OJK.</p>
            </div>
        </div>
    </div>
</section>